<!DOCTYPE html>

<html> 
  <head>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
    <link rel="stylesheet" href="style.css">
    <title>kait on LinkFree</title>
  </head>
  <body>
    <img alt='User Photo' id='userPhoto' class="circle" src='https://i.imgur.com/t8ZX9um.jpg'/>
    <a href='#' id='userName'>@i.might.be.here</a>
    <div id='links'>
        <a class='link' href='#yourLink' target='_blank'><i aria-hidden='true' class='fa fa-instagram media'></i>&#160;&#160;Robotics Team Instagram</a>
        <a class='link' href='#yourLink' target='_blank'><i aria-hidden='true' class='ri-discord-fill'></i>&#160;&#160;Discord Server</a>
        <a class='link' href='#yourLink' target='_blank'><i aria-hidden='true' class='fa fa-github'></i>&#160;&#160;Github</a>
    </div>
    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'/>
  </body> 
</html>
