<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>k a i t</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="icon" href="assets/imagens/favicon.png" type="image/x-icon" />
    
    <link href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css' rel='stylesheet'/>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
    
    <!-- Hotjar Tracking Code for https://gothamgamer117.github.io/LinkFree/Template -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2199023,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    
</head>

<body>
    <div id="profile">
        <img id="userPhoto" src="https://cdn.discordapp.com/attachments/643322146931867648/793492572374958150/image0.png" alt="Profile picture of kait">
        <div id="userName">
            <h1>kait \\ @i.might.be.here</h1>
            <p></p>
        </div>
    </div>
    <div id="links">
        <!--<a class="link" href="https://www.linkedin.com/in/lmourabraga/" target="_blank"><i class="fa fa-linkedin"
                aria-hidden="true"></i> LinkedIn</a>-->
        <!--<a class="link" href="https://instagram.com/i.might.be.here" target="_blank"><i class="fa fa-instagram media" aria-hidden="true"></i>
            Personal Instagram</a>-->
        <a class="link" href="https://cutt.ly/xjcnX2b" target="_blank"><i class="fa fa-instagram media" aria-hidden="true"></i>
            Robotics Team Instagram</a>
        <a class="link" href="https://cutt.ly/jk21ZfS" target="_blank"><i class="bi bi-chat-square-dots-fill"></i> Tellonym</a>
        <a class="link" href="https://cutt.ly/kjcnB8P" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i> Pinterest</a>
        <a class="link" href="https://cutt.ly/dk29wby" target="_blank"><i class-"fa-tumblr" aria-hidden="true"></i> Tumblr</a>
        <a class="link" href="https://cutt.ly/zk23zcE" target="_blank"><i class="bi bi-twitch"></i> Twitch</a>
        <a class="link" href="https://cutt.ly/9k236y6" target="_blank"><i class="fab fa-spotify"></i> Spotify</a>
        <a class="link" href="https://cutt.ly/Jk28C0H" target="_blank"><i class="bi bi-twitter"></i> Twitter</a>
        <a class="link" href="https://cutt.ly/0jcn9UL" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
        <!--<a class="link" href="mailto:no.reply.5943@gmail.com" target="_blank"><i class="fa fa-envelope"-->
        <!--<a class='link' href='https://cutt.ly/tjcnMAx' target='_blank'><i aria-hidden='true' class='ri-discord-fill'></i> Discord Server</a>-->
        <!--<a class="link" href="https://cutt.ly/Gjcn8re" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> Website</a>-->
    </div>

</body>

</html>
